<div class="panel-signup" ng-if="!signup.isAuthenticated()">
    <div class="panel-header">
        <img src="assets/images/logo_white.png" class="logo center-block" />
        <h3 class="text-center">BINNER'S PROJECT - 2016</h3>
    </div>
    <div class="panel-signup-body">
        <form method="post" ng-submit="signup.signup()" name="loginForm">
                    <div class="form-group input-group er-border">
                        <span class="input-group-addon">
                          <i class="fa fa-user fa-2x"></i>
                        </span>
                        <input class="form-control input-lg transparent-input" type="name" name="name" ng-model="signup.user.name" placeholder="Your name"
                        style="background-color:rgba(0,0,0,0) !important;border:none !important;box-shadow:none !important;" required autofocus/>
                    </div>        
                    <div class="form-group input-group er-border">
                        <span class="input-group-addon">
                          <i class="fa fa-envelope fa-2x"></i>
                        </span>
                        <input class="form-control input-lg transparent-input" type="email" name="email" ng-model="signup.user.email" placeholder="Email"
                        style="background-color:rgba(0,0,0,0) !important;border:none !important;box-shadow:none !important;" required autofocus/>
                    </div>
                    <div class="form-group input-group er-border">
                        <span class="input-group-addon">
                          <i class="fa fa-phone fa-2x"></i>
                        </span>
                        <input class="form-control input-lg transparent-input" type="text" name="phone" ng-model="signup.user.phone" placeholder="Phone"
                        style="background-color:rgba(0,0,0,0) !important;border:none !important;box-shadow:none !important;" required autofocus/>
                    </div>
                    <div class="form-group input-group er-border">
                        <span class="input-group-addon">
                          <i class="fa fa-lock fa-2x"></i>
                        </span>
                        <input class="form-control input-lg transparent-input" type="password" name="password" ng-model="signup.user.password" placeholder="Password" style="background-color:rgba(0,0,0,0) !important;border:none !important;box-shadow:none !important;" required autofocus/>
                    </div>
                    <div class="form-group input-group er-border">
                        <span class="input-group-addon">
                          <i class="fa fa-lock fa-2x"></i>
                        </span>
                        <input class="form-control input-lg transparent-input" type="password" name="password" ng-model="signup.user.password2" placeholder="Repeat your password" style="background-color:rgba(0,0,0,0) !important;border:none !important;box-shadow:none !important;" required autofocus/>
                    </div>
                    <button type="submit" ng-disabled="loginForm.$invalid" class="btn btn-lg  btn-block btn-danger">
                        Create account
                    </button>
        </form>
    </div>
</div>
